<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">To już jest koniec internetu :)</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Tagi" asp-action="Index">Wszystkie tagi</a>
    </div>
</div>