@model Tag

@{
    ViewData["Title"] = "Zmiana tagu";
}

<div class="row text">
    <div class="col-md-8 offset-2">
       
           <h6 class="text-center">Zmień Tag</h6>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @*podglad taga*@

                    <div class="form-group">
                        <label asp-for="Nazwa" class="control-label"></label>
                        <input asp-for="Nazwa" class="form-control" />
                        <span asp-validation-for="Nazwa" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Wszystkie Tagi</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

